<h1></h1> <h1 style="text-transform: uppercase;text-align: center;font-size: 45px;letter-spacing: 1px;">Football History Book</h1> <hr>

<img style="display: block;margin: 30px auto;"  src="https://www.wallpaperbetter.com/wallpaper/689/101/215/uefa-euro-2016-sports-football-adidas-world-cup-football-field-celebrating-2K-wallpaper-middle-size.jpg" alt="Football">

<h2 style="text-align: center;text-transform: uppercase;letter-spacing: .5px;font-size: 35px;" >The history of football</h2>
<p style="font-size: 25px;" >Football (or soccer as the game is called in some parts of the world) has a long history. Football in its current form arose in England in the middle of the 19th century. But alternative versions of the game existed much earlier and are a part of the football history.</p>

<footer style="text-align: center;" >
<a href="http://ec2-54-88-212-181.compute-1.amazonaws.com/best" " style="text-decoration: none;font-weight: bold;color: #F15B31;" >History of best player award</a>

<h2></h2>

<a href="http://ec2-54-88-212-181.compute-1.amazonaws.com/best/external" style="text-decoration: none;font-weight: bold;color: #F15B31;" >Most recent goals</a>
</footer>
<hr>

<h1></h1><h3 style="text-align: center;" >Football is the most important of the least important things in life.</h3>
<body style="background-color: #000000;color: #FFFFFF;"></body>
